<div class="d-flex flex-column flex-shrink-0 p-3 h-100 gap-2" *ngIf="selectedChat != null; else noElementsToDisplay">
    <div class="flex-grow-1 pt-auto position-relative overflow-scroll chat-scroll">
        <ul class="w-100">
          <li *ngFor="let msg of showMsgs()">
            <div class="d-flex gap-2" [style.background-color]="msg.isPinned ? '#dddddd' : ''">
              <img src="http://placehold.it/50/55C1E7/fff&text=U"
                    alt="User Avatar"
                    class="rounded float-start"
                    width="45"
                    height="45"/>
              <div class="w-100">
                  <div class="d-flex justify-content-between">
                      <strong class="primary-font">{{msg.user?.userName}}</strong>
                      <small class="pull-right text-muted">
                        <i class="bi bi-clock"></i>{{dateParser(msg.time)}}
                      </small>
                  </div>
                  <p id="{{ msg.id }}" [innerHTML]="msg.content">
                  </p>
                  <div class="d-flex flex-row ">
                    <p *ngFor="let emoji of msg.emojis" [innerHTML]="replaceEmojiCodes(emoji.code)"></p>
                  </div>
                    
              </div>
            </div>
            <div class="message-actions hide-actions">
              <div class="btn-group">
                <button class="btn btn-dark" placement="bottom" ngbTooltip="Nice job!" (click)="reactwithEmoji(1, msg.id)">😊</button>
                <button class="btn btn-dark" placement="bottom" ngbTooltip="Completed" (click)="reactwithEmoji(2, msg.id)">✅</button>
                <button class="btn btn-dark" placement="bottom" ngbTooltip="I love it!" (click)="reactwithEmoji(3, msg.id)">❤️</button>
                <button class="btn btn-dark" placement="bottom" ngbTooltip="Reply to thread"
                        (click)="onMainMessageClick(msg)"><i class="bi bi-reply"></i></button>
                <button class="btn btn-dark" placement="bottom" ngbTooltip="Pin message"
                  *ngIf="user.role == 'Teacher'" (click)="pinMsg(msg)"><i class="bi bi-pin-angle"></i></button>
                <div class="btn-group dropup" *ngIf="msg.userId == user.id">
                  <button type="button" class="btn btn-dark" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="editMessage(msg.id)">Edit message</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item link-danger" (click)="deleteMessage(msg.id)">Delete message</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
    </div>
    <div class="d-flex flex-row align-items-center gap-2">
      <div class="form-floating flex-fill">
        <editor 
        [init]="{
          height: 10,
          resize: false,
          toolbar: false,
          menubar: false,
          plugins: 'emoticons autolink mentions',
          emoticons_database: 'emojis',
          statusbar: false
        }"
        [(ngModel)]="newMessageContent" apiKey="f89mozl7zmxtjvfdeztre3hrditzykkdqfsi4rdni8kkgn5c"></editor>
      </div>
      <button class="btn btn-primary btn-sm shadow-none" type="button" (click)="sendMessage(newMessageContent)"><i class="bi bi-arrow-right-square"></i></button>
    </div>    
  </div>
  <ng-template #noElementsToDisplay>
    <div class="h-100 w-100 d-flex align-items-center justify-content-center">
      <span class="fw-bolder text-muted">
        There is no thread selected
      </span>
    </div>
  </ng-template>