    <div class="thread-info">
        <h3>Thread</h3>
        <p>some text</p>
    </div>
    <div class="side-chat">
        <div class="img-container">
            <img src="" alt="" class="profile-pic">
        </div>
        <div class="side-text">
            <h4>username</h4>
            <div class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati eaque, nesciunt illo alias ratione cupiditate, accusamus unde aliquid voluptate, vitae numquam nostrum nam quas ut!
            </div>
        </div>
    </div>
    <div class="side-chat">
        <div class="img-container">
            <img src="" alt="" class="profile-pic">
        </div>
        <div class="side-text">
            <h4>username</h4>
            <div class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati eaque, nesciunt illo alias ratione cupiditate, accusamus unde aliquid voluptate, vitae numquam nostrum nam quas ut!
            </div>
        </div>
    </div>

    <div class="text-form">
        <div class="img-container-side">
            <img src="" alt="" class="profile-pic">
        </div>
        <form action="">
            <input type="text">
        </form>
    </div>