<div class="content-nav">
    <div class="nav-info">
        <h3>name of thread</h3>
        <ul>
            <li>icon1</li>
            <li>icon2</li>
            <li>icon3</li>
            <li>Add a topic</li>
        </ul>
    </div>
    <div class="right-nav">
        <ul>
            <li>icon1</li>
            <li>icon2</li>
            <li>icon3</li>
        </ul>
        <form action="">
            <input type="text" name="" id="" placeholder="Search..">
        </form>
        <ul>
            <li>icon1</li>
            <li>icon2</li>
            <li>icon3</li>
        </ul>
    </div>
</div>