<div class="d-flex flex-column flex-shrink-0 p-3 h-100 gap-2">
    <h3>Thread Name</h3>
    <ul class="flex-1 mb-auto p-0 overflow-auto">
      <li class="d-flex gap-2" *ngFor="let msg of msgs">
          <img src="http://placehold.it/50/55C1E7/fff&text=U"
                alt="User Avatar"
                class="rounded float-start"
                width="45"
                height="45"/>
          <div class="w-100">
              <div class="d-flex justify-content-between">
                  <strong class="primary-font">user name</strong>
                  <small class="pull-right text-muted">
                    <i class="bi bi-clock"></i>12 mins ago
                  </small>
              </div>
              <p>
                  {{msg.content}}
              </p>
          </div>
      </li>
    </ul>
    <div class="d-flex flex-row align-items-center gap-2">
      <img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="30">
      <div class="form-floating flex-fill">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Comments</label>
      </div>
      <button class="btn btn-primary btn-sm shadow-none" type="button"><i class="bi bi-arrow-right-square"></i></button>
    </div>
  </div>