<div class="d-flex flex-column flex-shrink-0 p-3 h-100 gap-2" *ngIf="selectedChat != null; else noElementsToDisplay">
    <h3>{{selectedChat.name}}</h3>
    <ul class="flex-1 mt-auto overflow-auto">
      <li *ngFor="let msg of showMsgs()">
        <div class="d-flex gap-2">
          <img src="http://placehold.it/50/55C1E7/fff&text=U"
                alt="User Avatar"
                class="rounded float-start"
                width="45"
                height="45"/>
          <div class="w-100">
              <div class="d-flex justify-content-between">
                  <strong class="primary-font">user name</strong>
                  <small class="pull-right text-muted">
                    <i class="bi bi-clock"></i>12 mins ago
                  </small>
              </div>
              <p>
                  {{msg.content}}
              </p>
          </div>
        </div>
        <div class="message-actions hide-actions">
          <div class="btn-group">
            <button class="btn btn-dark" placement="bottom" ngbTooltip="Nice job!">😊</button>
            <button class="btn btn-dark" placement="bottom" ngbTooltip="Completed">✅</button>
            <button class="btn btn-dark" placement="bottom" ngbTooltip="I love it!">❤️</button>
            <button class="btn btn-dark" placement="bottom" ngbTooltip="Reply in thread"><i class="bi bi-chat-text"></i></button>
            <button class="btn btn-dark" placement="bottom" ngbTooltip="Reply to thread"
                    (click)="onMainMessageClick(msg)">
                <i class="bi bi-reply"></i>
            </button>
            <button class="btn btn-dark" placement="bottom" ngbTooltip="Pin message"><i class="bi bi-pin-angle"></i></button>
            <button class="btn btn-dark"><i class="bi bi-three-dots-vertical"></i></button>
          </div>
        </div>
      </li>
    </ul>
    <div class="d-flex flex-row align-items-center gap-2">
      <img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="30">
      <div class="form-floating flex-fill">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Comments</label>
      </div>
      <button class="btn btn-primary btn-sm shadow-none" type="button"><i class="bi bi-arrow-right-square"></i></button>
    </div>
  </div>
  <ng-template #noElementsToDisplay>
    There is no thread selected
  </ng-template>