<main>
    <aside class="left-sidebar">
        <left-sidebar></left-sidebar>
     </aside>
        <section class="content">
            <content-nav></content-nav>
            <div class="content-wrapper">
                <div class="main-content">
                    <div class="chat">
                        <div class="img-container">
                            <img src="" alt="" class="profile-pic">
                        </div>
                        <div class="text">
                            <h4>username</h4>
                            <div class="">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati eaque, nesciunt illo alias ratione cupiditate, accusamus unde aliquid voluptate, vitae numquam nostrum nam quas ut!
                            </div>
                        </div>
                    </div>
                    <div class="chat">
                        <div class="img-container">
                            <img src="" alt="" class="profile-pic">
                        </div>
                        <div class="text">
                            <h4>username</h4>
                            <div class="">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati eaque, nesciunt illo alias ratione cupiditate, accusamus unde aliquid voluptate, vitae numquam nostrum nam quas ut!
                            </div>
                        </div>
                    </div>
                    <div class="chat">
                        <div class="img-container">
                            <img src="" alt="" class="profile-pic">
                        </div>
                        <div class="text">
                            <h4>username</h4>
                            <div class="">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati eaque, nesciunt illo alias ratione cupiditate, accusamus unde aliquid voluptate, vitae numquam nostrum nam quas ut!
                            </div>
                        </div>
                    </div>
                </div>
                <aside class="right-sidebar">
                    <right-sidebar></right-sidebar>
                </aside>
            </div>
        </section>
</main>