.content {
  flex: 1 1 85%;
  height: 100%;
  background-color: wheat;
}

.content-wrapper {
  display: flex;
  height: 100%;
}

.main-content {
  flex: 1 1 70%;
}

.chat {
  display: flex;
  padding-bottom: 1em;
}

.img-container {
  flex: 1 1 10%;
  max-width: 50px;
  display: inline-block;
  text-align: center;
  padding-top: 1em;
}

.text {
  flex: 1 1 90%;
  display: inline-block;
  margin: 0;
  align-content: center;
}

  .text h4 {
    padding-top: .5em;
    margin: 0;
  }

  .text div {
    padding-top: .2em;
    padding-right: 2em;
  }

.left-sidebar {
  flex: 1 1 15%;
  height: 100%;
  background-color: var(--color-primary);
  overflow: scroll;
  color: white;
}


.right-sidebar {
  flex: 1 1 30%;
  height: 100%;
  background-color: blanchedalmond;
}
