.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.page-wrapper {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
}

app-thread-list {
    flex: 1 1 60%;
}

app-chat-list {
    flex: 1 1 40%;
}