    <div class="user-info">
        <h3>Channel name</h3>
        <p>user-name</p>
    </div>
    <div class="threads">
        <h5>Channels</h5>
        <ul class="thread-list">
            <li *ngFor="let chat of chats">{{ chat.Messages }}</li>
        </ul>
    </div>
    <div class="messages">
        <h5>Direct Messages</h5>
        <ul class="message-list">
            <li><p>user1</p></li>
            <li><p>user2</p></li>
            <li><p>user3</p></li>
            <li><p>user4</p></li>
            <li><p>user5</p></li>
            <li><p>user6</p></li>
            <li><p>user7</p></li>
            <li><p>user8</p></li>
            <li><p>user9</p></li>
            <li><p>user10</p></li>
            <li><p>user11</p></li>
            <li><p>user12</p></li>
            <li><p>user13</p></li>
            <li><p>user14</p></li>
            <li><p>user15</p></li>
        </ul>
    </div>