    <div class="user-info">
        <h3>Channel name</h3>
        <p>user-name</p>
    </div>
    <div class="threads">
        <h5>Channels</h5>
        <ul class="thread-list">
            <li><p>thread1</p></li>
            <li><p>thread2</p></li>
            <li><p>thread3</p></li>
            <li><p>thread4</p></li>
            <li><p>thread5</p></li>
            <li><p>thread6</p></li>
            <li><p>thread7</p></li>
            <li><p>thread8</p></li>
            <li><p>thread9</p></li>
            <li><p>thread10</p></li>
            <li><p>thread11</p></li>
            <li><p>thread12</p></li>
            <li><p>thread13</p></li>
            <li><p>thread14</p></li>
            <li><p>thread15</p></li>
        </ul>
    </div>
    <div class="messages">
        <h5>Direct Messages</h5>
        <ul class="message-list">
            <li><p>user1</p></li>
            <li><p>user2</p></li>
            <li><p>user3</p></li>
            <li><p>user4</p></li>
            <li><p>user5</p></li>
            <li><p>user6</p></li>
            <li><p>user7</p></li>
            <li><p>user8</p></li>
            <li><p>user9</p></li>
            <li><p>user10</p></li>
            <li><p>user11</p></li>
            <li><p>user12</p></li>
            <li><p>user13</p></li>
            <li><p>user14</p></li>
            <li><p>user15</p></li>
        </ul>
    </div>